services:
  - type: web
    name: ams-accommodation
    env: python
    region: singapore
    plan: free
    branch: main
    buildCommand: "pip install -r requirements.txt && python manage.py collectstatic --noinput && python manage.py migrate"
    startCommand: "gunicorn harmony_housing.wsgi:application"
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: USE_SUPABASE
        value: True
      - key: DB_HOST
        value: aws-1-ap-south-1.pooler.supabase.com
      - key: DB_PORT
        value: 6543
      - key: DB_NAME
        value: postgres
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false

